{%  load staticfiles %}
<!DOCTYPE html>
<html lang="es">







    {% block content%}
    <h5>contenido del archivo base</h5>
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block extrajs %}

    {% endblock %}

</body>

</html>