{% extends 'base/base.html' %}

{% block content %}

<head>

    {% block extrastatic %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bootstrap Example {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    {% block navbar %}
    <body style="background-color:rgba(255, 238, 0, 0.61);">
        </body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bienvenido SuperUsuario</a>
            </div>
            <ul class="nav navbar-nav">
                    <li class="active"><a href="http://127.0.0.1:8000/Superusuario/nuevo">Crear Usuario</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Superusuario/lista">Ver Usuario</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Superusuario/editar/1">Editar Usuario</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Superusuario/nuevoAd">Crear Administrador</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Superusuario/listaAd">Ver Administrador</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Superusuario/editarAd/1">Editar Administrador</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://127.0.0.1:8000/Superusuario/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="http://127.0.0.1:8000/Superusuario/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 style="color:goldenrod;">
            <b>
                <center> Formulario de Administrador </center>
            </b>
        </h3>
    </div>
    {% endblock %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Usuario</td>
                <td>Correo</td>
                <td>telefono</td>
                <TD>Edad</TD>
                <td>fotografia</td>
                <td>Contrasenia</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            {% if superusuario %}
            {% for superusuario in superusuario  %}
            <tr>
                <td>{{ superusuario.id }}</td>
                <td>{{ superusuario.nombre_completo }}</td>
                <td>{{ superusuario.nombre_usuario}}</td>
                <td>{{ superusuario.correo }}</td>
                <td>{{ superusuario.telefono }}</td>
                <td>{{ superusuario.edad }}</td>
                <td>{{ superusuario.fotografia }}</td>
                <td>{{ superusuario.contrasenia }}</td>
                <td>
                    <a class="btn btn-primary" href="http://127.0.0.1:8000/Superusuario/editar/1">Editar</a>
                    <a class="btn btn-danger" href="http://127.0.0.1:8000/Superusuario/eliminar/1">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registro de Administradores</h1>
            {% endif %}
        </tbody>

    </table>

    {% endblock %}