{% extends 'base/base.html' %}

{% block content %}

<head>

        {% block extrastatic %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} Bootstrap Example {% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    </head>
    
    <body>
        {% block navbar %}
    
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Bienvenido Tienda</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/nuevo">Crear Articulo</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/juguetes">Juguetes</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/comida">Comida</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/medicina">Medicina</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    
        <div class="container">
            <h3 style="color:rgb(144, 32, 218);">
                <b>
                    <center> Comida para mascotas </center>
                </b>
            </h3>
        </div>
{% endblock %}    

<div id="cp_widget_d027e0e0-b455-438f-86d5-54ddc7add111">...</div><script type="text/javascript">
    var cpo = []; cpo["_object"] ="cp_widget_d027e0e0-b455-438f-86d5-54ddc7add111"; cpo["_fid"] = "AEMA3k-pZSK1";
    var _cpmp = _cpmp || []; _cpmp.push(cpo);
    (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
    var c = document.getElementsByTagName("script")[0];
    c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>New Gallery 2019/11/18</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 1000</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 380</span><span>height</span><span> 380</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 1000</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 463</span><span>height</span><span> 741</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 380</span><span>height</span><span> 380</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 500</span><span>height</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 720</span><span>height</span><span> 720</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1024</span><span>height</span><span> 1024</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 700</span><span>height</span><span> 700</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 500</span><span>height</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 467</span><span>height</span><span> 505</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 1000</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 466</span><span>height</span><span> 466</span><span>focallength</span><span> 50</span><span>flash</span><span> 16</span><span>cameramake</span><span> Canon</span><span>height</span><span> 1200</span><span>fnumber</span><span> 13</span><span>exposuretime</span><span> 0.00625</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CC 2</span><span>originaldate</span><span> 10/19/2017 5:45:15 AM</span><span>width</span><span> 1200</span><span>cameramodel</span><span> Canon EOS 5DS</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1000</span><span>height</span><span> 1000</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 700</span><span>height</span><span> 700</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 500</span><span>height</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 361</span><span>height</span><span> 361</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 460</span><span>height</span><span> 260</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 319</span><span>height</span><span> 443</span></noscript>
    
<form method="POST">
    {% csrf_token %}
    <button type="submit">Comprar</button>
</form>
{% endblock %}