{% extends 'base/base.html' %}

{% block content %}

<head>

    {% block extrastatic %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bootstrap Example {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    {% block navbar %}
    <body style="background-color:rgba(255, 238, 0, 0.61);">
        </body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bienvenido Cliente</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://127.0.0.1:8000/">Inicio</a></li>>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/">Cliente</a></li>>

            </ul>
        </div>
    </nav>


    <form method="POST">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="username">Nombre de usuario:</label>
                    <input class="form-control" type="text" name="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label for="username">Contrasena:</label>
                    <input class="form-control" type="password" name="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <a class="btn btn-primary" href="http://127.0.0.1:8000/Tienda/iniciocli">Ingresar</a>
                </div>
            </div>
        </div>
    </form>


    <form method="POST">
        {% csrf_token %}
    </form>
    {% endblock %}


    {% endblock %}