{% extends 'base/base.html' %}

{% block content %}

<head>

    {% block extrastatic %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bootstrap Example {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    {% block navbar %}

    <body style="background-color:rgba(255, 238, 0, 0.61);">
    </body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bienvenido</a>
            </div>
            <ul class="nav navbar-nav">
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/iniciocli">Home</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/juinicio">Juguetes</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/coinicio">Comida</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/meinicio">Medicina</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/mascota/listacliente">Mascotas</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://127.0.0.1:8000/Tienda/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="http://127.0.0.1:8000/Tienda/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 style="color:rgb(44, 32, 218);">
            <b>
                <center> Medicina para mascotas </center>
            </b>
        </h3>
    </div>
    {% endblock %}

    <div id="cp_widget_5a7d6aa4-1157-4acc-adf1-e5daef4d8663">...</div>
    <script type="text/javascript">
        var cpo = []; cpo["_object"] = "cp_widget_5a7d6aa4-1157-4acc-adf1-e5daef4d8663"; cpo["_fid"] = "AcKApluyZamv";
        var _cpmp = _cpmp || []; _cpmp.push(cpo);
        (function () {
            var cp = document.createElement("script"); cp.type = "text/javascript";
            cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
            var c = document.getElementsByTagName("script")[0];
            c.parentNode.insertBefore(cp, c);
        })(); </script><noscript><span>New Gallery
            2019/11/18</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            350</span><span>height</span><span> 350</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            854</span><span>height</span><span> 1200</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 777</span><span>height</span><span>
            608</span><span>cameramake</span><span> NIKON CORPORATION</span><span>focallength</span><span>
            90</span><span>height</span><span> 800</span><span>fnumber</span><span>
            6</span><span>exposuretime</span><span> 0.009090909</span><span>orientation</span><span>
            1</span><span>camerasoftware</span><span> Ver.1.05</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 800</span><span>cameramodel</span><span> NIKON
            D1</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            350</span><span>height</span><span> 350</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 650</span><span>height</span><span>
            500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span>
            810</span><span>width</span><span> 1600</span><span>camerasoftware</span><span>
            Google</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            1280</span><span>height</span><span> 720</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 244</span><span>height</span><span>
            465</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            1500</span><span>height</span><span> 1500</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            355</span><span>height</span><span> 355</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 280</span><span>height</span><span>
            280</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            800</span><span>height</span><span> 800</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 466</span><span>height</span><span>
            466</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            1024</span><span>height</span><span> 1024</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 1000</span><span>height</span><span>
            1000</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
            640</span><span>height</span><span> 640</span><span>originaldate</span><span> 1/1/0001 6:00:00
            AM</span><span>width</span><span> 350</span><span>height</span><span> 350</span></noscript>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Comprar</button>
    </form>
    {% endblock %}