{% extends 'base/base.html' %}

{% block content %}

<head>

    {% block extrastatic %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bootstrap Example {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    {% block navbar %}

    <body style="background-color:rgba(255, 238, 0, 0.61);">
    </body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bienvenido</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/iniciocli">Home</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/juinicio">Juguetes</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/coinicio">Comida</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/meinicio">Medicina</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/mascota/listacliente">Mascotas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://127.0.0.1:8000/Tienda/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="http://127.0.0.1:8000/Tienda/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 style="color:rgb(32, 218, 79);">
            <b>
                <center> Juguetes para mascotas </center>
            </b>
        </h3>
    </div>
    {% endblock %}

    <center>
        <div id="cp_widget_3c9fdd9a-e303-4196-b59e-09489b40852d">...</div>
        <script type="text/javascript">
            var cpo = []; cpo["_object"] = "cp_widget_3c9fdd9a-e303-4196-b59e-09489b40852d"; cpo["_fid"] = "AwNACluUZKQ1";
            var _cpmp = _cpmp || []; _cpmp.push(cpo);
            (function () {
                var cp = document.createElement("script"); cp.type = "text/javascript";
                cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(cp, c);
            })(); </script><noscript><span>New Gallery
                2019/11/18</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                466</span><span>height</span><span> 373</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 522</span><span>height</span><span>
                522</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                466</span><span>height</span><span> 466</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 804</span><span>height</span><span>
                803</span><span>focallength</span><span> 105</span><span>flash</span><span>
                16</span><span>cameramake</span><span> Canon</span><span>height</span><span>
                600</span><span>fnumber</span><span> 14</span><span>exposuretime</span><span>
                0.008</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS6
            </span><span>originaldate</span><span> 6/27/2018 3:51:33 PM</span><span>width</span><span>
                600</span><span>cameramodel</span><span> Canon EOS 70D</span><span>originaldate</span><span> 1/1/0001
                6:00:00 AM</span><span>width</span><span> 1100</span><span>height</span><span>
                1100</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                466</span><span>height</span><span> 466</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 800</span><span>height</span><span>
                800</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                750</span><span>height</span><span> 721</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 1278</span><span>height</span><span>
                968</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                1200</span><span>height</span><span> 900</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 450</span><span>height</span><span>
                463</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                797</span><span>height</span><span> 420</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 940</span><span>height</span><span>
                627</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                700</span><span>height</span><span> 700</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 258</span><span>height</span><span>
                195</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span>
                800</span><span>width</span><span> 800</span><span>orientation</span><span>
                1</span><span>camerasoftware</span><span> Adobe Photoshop CS W</span><span>originaldate</span><span>
                1/1/0001 6:00:00 AM</span><span>width</span><span> 550</span><span>height</span><span>
                550</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                225</span><span>height</span><span> 225</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 600</span><span>height</span><span> 360</span></noscript>
    </center>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Comprar</button>
    </form>
    {% endblock %}