{% extends 'base/base.html' %}

{% block content %}

<head>

        {% block extrastatic %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} Bootstrap Example {% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
    </head>
    
    <body>
        {% block navbar %}
    
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Bienvenido Tienda</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/nuevo">Crear Articulo</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/juguetes">Juguetes</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/comida">Comida</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Tienda/medicina">Medicina</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    
        <div class="container">
            <h3 style="color:rgb(32, 175, 218);">
                <b>
                    <center> Formulario de Tienda </center>
                </b>
            </h3>
        </div>
{% endblock %}    

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Guardar</button>
</form>
{% endblock %}