{% extends 'base/base.html' %}

{% block content %}

<head>

    {% block extrastatic %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bootstrap Example {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    {% block navbar %}
    <body style="background-color:rgba(255, 238, 0, 0.61);">
        </body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bienvenido Usuario</a>
            </div>
            <ul class="nav navbar-nav">
                    <li class="active"><a href="http://127.0.0.1:8000/mascota/">Crear Mascota</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/mascota/lista">Ver Mascota</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/mascota/editar/1">Editar Mascota</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Informe/informe">Crear Informe</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Informe/lista">Ver Informe</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Factura//nuevo">Crear Factura</a></li>
                    <li class="active"><a href="http://127.0.0.1:8000/Factura/factu">Ver Facturas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://127.0.0.1:8000/Factura/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="http://127.0.0.1:8000/Factura/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 style="color:goldenrod;">
            <b>
                <center> Formulario de Facturas </center>
            </b>
        </h3>
    </div>
    {% endblock %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Fecha</td>
                <td>Cliente</td>
                <td>Tienda</td>
                <td>Otro</td>
            </tr>
        </thead>
        <tbody>
            {% if factura %}
            {% for factura in factura  %}
            <tr>
                <td>{{ factura.id }}</td>
                <td>{{ factura.fecha }}</td>
                <td>{{ factura.clien }}</td>
                <td>{{ factura.tien }}</td>
                <td>{{ factura.masc }}</td>

            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registro de Facturas</h1>
            {% endif %}
        </tbody>

    </table>

    {% endblock %}