{% extends 'base/base.html' %}

{% block content %}

<head>

    {% block extrastatic %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bootstrap Example {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>

<body>
    {% block navbar %}


    <body style="background-color:rgba(255, 238, 0, 0.61);">
    </body>

    

    <center>
        <div id="cp_widget_c395cdb8-420a-4fa4-86f7-9286c1541a8e">...</div>
        <script type="text/javascript">
            var cpo = []; cpo["_object"] = "cp_widget_c395cdb8-420a-4fa4-86f7-9286c1541a8e"; cpo["_fid"] = "A4MA6lefZm1-";
            var _cpmp = _cpmp || []; _cpmp.push(cpo);
            (function () {
                var cp = document.createElement("script"); cp.type = "text/javascript";
                cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(cp, c);
            })(); </script><noscript><span>New Gallery
                2019/11/19</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                1220</span><span>height</span><span> 460</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 612</span><span>height</span><span>
                408</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                650</span><span>height</span><span> 350</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 716</span><span>height</span><span>
                400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                1200</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 300</span><span>height</span><span>
                168</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                300</span><span>height</span><span> 168</span></noscript>
    </center>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bienvenido</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://127.0.0.1:8000/">Home</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/juinicio">Juguetes</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/coinicio">Comida</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/meinicio">Medicina</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Administrador/">Administrador</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Superusuario/">Superusuario</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Factura/">Usuario</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/">Cliente</a></li>
                
            </ul>
        </div>
    </nav>
    <center>
        <div id="cp_widget_e41bf64e-465c-4e67-86e3-b3af97d66cc6">...</div>
        <script type="text/javascript">
            var cpo = []; cpo["_object"] = "cp_widget_e41bf64e-465c-4e67-86e3-b3af97d66cc6"; cpo["_fid"] = "AoLAdk-daW5b";
            var _cpmp = _cpmp || []; _cpmp.push(cpo);
            (function () {
                var cp = document.createElement("script"); cp.type = "text/javascript";
                cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(cp, c);
            })(); </script><noscript><span>New Gallery
                2019/11/19</span><span>Veterinaria</span><span>shop for pets: Somos la cadena de tiendas para mascotas
                más grande de Guatemala, inauguramos la primer tienda en 1976, hoy contamos con 22 tiendas ubicadas en
                puntos estratégicos de la ciudad capital y 2 tiendas más en Quetzaltenango: Pradera Xela y Mont Blanc.
                Así como también el servicio a domicilio.</span><span>originaldate</span><span> 1/1/0001 6:00:00
                AM</span><span>width</span><span> 221</span><span>height</span><span>
                200</span><span>Nosotros</span><span>proporcionamos servicios y productos dedicados al cuidado de sus
                mascotas en un ambiente profesional y amigable. Nos caracterizada por ser confiables y accesibles.
                Estamos siempre a la vanguardia de las necesidades de sus
                mascotas.</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                370</span><span>height</span><span> 370</span><span>Vision</span><span>Somos el lugar donde podrás
                encontrar todo lo que necesitas para consentir a tu amigo más fiel: alimentos, clínicas veterinarias,
                grooming, accesorios, juguetes y mucho más para quienes son también parte importante de tu familia; tus
                mascotas.</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                370</span><span>height</span><span> 370</span><span>Objetivo</span><span>originaldate</span><span>
                1/1/0001 6:00:00 AM</span><span>width</span><span> 370</span><span>height</span><span>
                370</span></noscript>
    </center>
    <br/>
    <br/>

    {% endblock %}



    {% endblock %}
    

