{% extends 'base/base.html' %}

{% block content %}

<head>

    {% block extrastatic %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Bootstrap Example {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
    {% block navbar %}

    <body style="background-color:rgba(255, 238, 0, 0.61);">
    </body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bienvenido Administrador</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/iniciocli">Home</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/juinicio">Juguetes</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/coinicio">Comida</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/Tienda/meinicio">Medicina</a></li>
                <li class="active"><a href="http://127.0.0.1:8000/mascota/listacliente">Mascotas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://127.0.0.1:8000/Tienda/"><span class="glyphicon glyphicon-user"></span> Sign
                        Up</a></li>
                <li><a href="http://127.0.0.1:8000/Tienda/"><span class="glyphicon glyphicon-log-in"></span>
                        Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 style="color:goldenrod;">
            <b>
                <center> Formulario de Clientes </center>
            </b>
        </h3>
    </div>
    {% endblock %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>Edad</td>
                <td>Comentario</td>
                <td>Fotografia</td>
                <TD>Edad</TD>
                <td>Persona</td>
                <td>Vacuna</td>
            </tr>
        </thead>
        <tbody>
            {% if mascota %}
            {% for mascota in mascota  %}
            <tr>
                <td>{{ mascota.id }}</td>
                <td>{{ mascota.nombre }}</td>
                <td>{{ mascota.edad}}</td>
                <td>{{ mascota.comentario }}</td>
                <td>{{ mascota.fotografia }}</td>
                <td>{{ mascota.persona }}</td>
                <td>{{ mascota.vacuna }}</td>
                <td>
                    <a class="btn btn-primary" href="http://127.0.0.1:8000/mascota/editar/1">Editar</a>
                    <a class="btn btn-danger" href="http://127.0.0.1:8000/mascota/eliminar/1">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay registro de Mascotas</h1>
            {% endif %}
        </tbody>

    </table>

    {% endblock %}